<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      <video id="video" width="320" height="240"></video>
      <div>
        <button id="snap">Snap Photo</button>
        <input type="text" name="" id="text1" >
      </div>
    <canvas id="canvas" width="320" height="240"></canvas>
    <button id='button'></button>
    <img id="photo" alt="The screen capture will appear in this box.">
  </main>
    <script src='javascripts/app.js'></script>
  </body>
</html>
