<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <main>
      <video id="video" width="320" height="240"></video>
      <div>
        <button id="snap">Snap Photo</button>
        <input type="text" name="" id="text1" >
      </div>
    <canvas id="canvas" width="320" height="240"></canvas>
    <button id='button'></button>
    <img id="photo" alt="The screen capture will appear in this box." >
  </main>
    <input type="text" value='3' id='loop'>
    <input type="text" value='500' id='speed'>
    <input type='button' id='array' value='replay'>

    <input type="text" value='3' id='time'>
    <input type="text" value='1' id='picSec'>
    <input type='button' id='take' value='take'>
    <input type='button' id='sub' value='sub'>


    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
    <script src='javascripts/app.js'></script>
  </body>
</html>
